.page {
    display: flex;
    flex-direction: row;
}

.page-centered {
    justify-content: center;
    align-items: center;
}

.page-cover {
    pointer-events: fill;
    position: fixed !important;
    display: flex;
    justify-content: center;
    align-items: center;

    background: black;
    flex: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-cover video { 
    width: 100vw !important;
    height: 100vh !important;
 }

.card-list {
    display: flex;
    flex-direction: column;
    padding: calc(var(--xl-size) * 2);
    gap: var(--xl-size);
}

.card-item {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 512px;
    height: 256px;
    border-radius: var(--xl-size);
    box-shadow: var(--xl-shadow) var(--light-color);
}

.card-item img {
    flex: 1;
}

.card-item .card-item-details {
    flex: 1;
}

.card-item .card-item-details h1,
.card-item .card-item-details p {
    user-select: none;
}

.cover {
    pointer-events: fill;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 25ms;

    background: var(--light-color);
    opacity: 0;
    flex: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cover:hover {
    opacity: 0.2;
}


.list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: var(--xl-shadow) var(--light-color);
    border-radius: var(--xl-size);
}

.list .list-item {
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--light-color);
}

.list .list-item:last-child {
    border-bottom: 0px;
}

.list .list-item:active {
    border-bottom: 0px;
}

.list-item img {
    padding: calc(var(--xl-size) / 2);
    width: calc(var(--xl-size) * 2);
}

.list-item p {
    flex: 1;
}

.spacer {
    padding: 2rem;
}